{% extends 'base.html' %}
{% block title %}Rezept (3/3){% endblock %}

{% block page_body %}
<form action="{{ url_for('order_upload_prescription') }}" method="post">
  <div class="form-group">
    <label for="prescription_location">Rezept liegt bei</label> <br>
    <fieldset id="prescription_location">
      <label>behandelndem Arzt</label> <input type="radio" value="doctor" name="prescription_location">
      <label>Patient</label> <input type="radio" value="patient" name="prescription_location">
    </fieldset>
    <label for="scan">Scan Upload</label>
    <input type="file" name="scan">
    <input type="hidden" id="doctor_id" name="doctor_id" value={{ doctor_id }}>
    <input type="hidden" id="pharmacy_id" name="pharmacy_id" value={{ pharmacy_id }}>
    <input type="submit" value="weiter">
  </div>
</form>
{% endblock %}
