{% extends 'base.html' %}
{% block title %}Routen{% endblock %}

{% block page_body %}
<div class="row">
    <p>
        Berechnete Routen:
    </p>
</div>
<div class="row">
    <h4>
        Fahrer: Ray Gilette
        <hr>
    </h4>
    <br/>
    <ul>
        <li>Jasperallee 12 (38100 Braunschweig) - Start</li>
        <li><b>Hagenmarkt Apotheke</b> (Hagenmarkt 19, 38100 Braunschweig) - Einladen:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 4</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 3</li>
            </ul>
        </li>
        <li><b>Robert M.</b> (Südstr. 19, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 2</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
        <li><b>Arkaden-Apotheke</b> (Ritterbrunnen 1, 38100 Braunschweig) - Einladen:
            <ul>
                <li>ACC 100 Brausetabletten (Hexal) - 3</li>
            </ul>
        </li>
        <li><b>Fabian W.</b> (Celler Str. 75, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 100 Brausetabletten (Hexal) - 3</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
        <li><b>Christian F.</b> (Neuer Weg 9, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 1</li>
            </ul>
        </li>
        <li><b>Tina K.</b> (Okerstr. 1, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 1</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
    </ul>
</div>
<div class="row">
    <h4>
        Fahrer: Simone Koch
        <br/>
        <hr>
    </h4>
    <br/>
    <ul>
        <li>Bärengasse 12 (65719 Hofheim am Ts.) - Start</li>
        <li><b>Chinon Apotheke</b> (Elisabethenstr. 3, 65719 Hofheim am Ts.) - Einladen:
            <ul>
                <li>Paracetamol Suppositorien 1000 mg (1a Pharma) - 4</li>
                <li>Heparin 25.000 I.E. (B. Braun Melsungen) - 1</li>
                <li>ACICLOVIR 50 mg (HEUMANN PHARMA) - 1</li>
            </ul>
        </li>
        <li><b>Kai R.</b> (Zeilsheimer Str. 7, 65719 Hofheim am Ts.) - Ausliefern:
            <ul>
                <li>Paracetamol Suppositorien 1000 mg (1a Pharma) - 2</li>
            </ul>
        </li>
        <li><b>Lisa K.</b> (Neugasse 27, 65719 Hofheim am Ts.) - Ausliefern:
            <ul>
                <li>Heparin 25.000 I.E. (B. Braun Melsungen) - 1</li>
                <li>ACICLOVIR 50 mg (HEUMANN PHARMA) - 1</li>
            </ul>
        </li>
        <li><b>Apotheke Krebs</b> (Im Langgewann 4, 65719 Hofheim am Ts.) - Einladen:
            <ul>
                <li>Tamiflu 45 mg (Roche Pharma) - 2</li>
            </ul>
        </li>
        <li><b>Beate K.</b> (In den Jägergärten 12, 65719 Hofheim am Ts.) - Ausliefern:
            <ul>
                <li>Paracetamol Suppositorien 1000 mg (1a Pharma) - 1</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 2</li>
            </ul>
        </li>
        <li><b>Marko B.</b> (Wingertstr. 37, 65719 Hofheim am Ts.) - Ausliefern:
            <ul>
                <li>Paracetamol Suppositorien 1000 mg (1a Pharma) - 1</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
