{% extends 'base.html' %}
{% block title %}Routen{% endblock %}

{% block page_body %}
<div class="row">
    <p>
        Berechnete Routen:
    </p>
</div>
<div class="row">
    <p>
        Fahrer: Ray Gilette
    </p>
    <br/>
    <ul>
        <li>Jasperallee 12 (38100 Braunschweig) - Start</li>
        <li><b>Hagenmarkt Apotheke</b> (Hagenmarkt 19, 38100 Braunschweig) - Einladen:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 4</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 3</li>
            </ul>
        </li>
        <li><b>Robert M.</b> (Südstr. 19, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 2</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
        <li><b>Arkaden-Apotheke</b> (Ritterbrunnen 1, 38100 Braunschweig) - Einladen:
            <ul>
                <li>ACC 100 Brausetabletten (Hexal) - 3</li>
            </ul>
        </li>
        <li><b>Fabian W.</b> (Celler Str. 75, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 100 Brausetabletten (Hexal) - 3</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
        <li><b>Christian F.</b> (Neuer Weg 9, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 1</li>
            </ul>
        </li>
        <li><b>Tina K.</b> (Okerstr. 1, 38100 Braunschweig) - Ausliefern:
            <ul>
                <li>ACC 200 Brausetabletten (Hexal) - 1</li>
                <li>Tamiflu 45 mg (Roche Pharma) - 1</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
