{% extends 'base.html' %}
{% block title %}Submit Order{% endblock %}


{% block page_body %}
<form action="{{ url_for('submit_order') }}" method="post">
    <div class="form-group">
        <label for="handelsname">Handelsname</label>
        <input name="handelsname" id="handelsname" required>
        <br />
        <label for="hersteller">Hersteller</label>
        <input name="hersteller" id="hersteller" required>
        <br />
        <label for="rezept">Rezept liegt lokal vor</label>
        <input type="checkbox" name="rezept" id="rezept" required>
        <br />

        <input type="submit" value="Send">
    </div>
</form>
{% endblock %}
