{% extends 'base.html' %}
{% block title %}Submit Order{% endblock %}


{% block page_body %}
<form action="{{ url_for('submit_order') }}" method="post">
    <div class="form-group">
        <label for="Handelsname">Name</label>
        <input name="handelsname" id="handelsname" required>
        <br />
        <label for="Hersteller">Name</label>
        <input name="hersteller" id="hersteller" required>
        <br />
        <label for="Rezept liegt lokal vor">Name</label>
        <input type="checkbox" name="rezept" id="rezept" required>
        <br />
        <input type="submit" value="Register">
<input type="submit" value="Send">
</form>
{% endblock}
