{% extends 'base.html' %}
{% block title %}Bitte wahlen Sie Ihre Apotheke{% endblock %}

{% block page_body %}
<form action="{{ url_for('choose_pharmacy') }}" method="post">
  <div class="form-group">
    <label for="pharmacy_id">Apotheke ist:</label>
    <input name="pharmacy_id" id="pharmacy_id" value="{{ formStatus.pharmacy_id }}"> <br>
    <input type="hidden" id="patient_id" name="patient_id" value="{{ formStatus.patient_id }}">
    <input type="hidden" id="doctor_id" name="doctor_id" value="{{ formStatus.doctor_id }}">
    <input type="hidden" id="order_id" name="order_id" value="{{ formStatus.order_id }}">
    <input type="submit" value="fertig">
  </div>
</form>
{% endblock %}
